<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/navbar.css" />
    <link rel="stylesheet" href="../../styles/sidebar.css" />
    <link rel="stylesheet" href="../../../docs/getting-started.css" />
    <link rel="stylesheet" href="../../../index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
    <title>Safient : Badge</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="left-nav">
          <a href="../../index.html">Safient</a>
        </div>
        <ul class="right-nav">
          <li><a href="/Get Started/introduction.html">Docs</a></li>
          <li><a href="#">Examples</a></li>
        </ul>
      </nav>

      <div class="doc-container">
        <div class="side-bar">
          <!-- Get Started List Start -->
          <div>
            <div class="list-topic">
              <a href="../../../docs/getting-started.html"> Get Started </a>
            </div>
            <ul class="list-subtopic">
              <li>
                <a href="/Get Started/introduction.html"> Introduction </a>
              </li>
              <li>
                <a href="/Get Started/Color.html"> Colors </a>
              </li>
              <li>
                <a href="/Get Started/Typography.html"> Typography </a>
              </li>
              <li>
                <a href="/Get Started/Conclusion.html"> Conclusion </a>
              </li>
            </ul>
          </div>

          <!-- Components List start -->
          <div>
            <div class="list-topic">
              <a href="../badge/badge.component.html">Components</a>
            </div>
            <ul class="list-subtopic">
              <li>
                <a href="../avatar/avatar.component.html"> Avatar </a>
              </li>
              <li>
                <a href="../alert/alert.component.html"> Alert </a>
              </li>
              <li>
                <a class="active" href="#"> Badge </a>
              </li>
              <li>
                <a href="../button/buttons.component.html"> Button </a>
              </li>
              <li>
                <a href="../card/card.component.html"> Card </a>
              </li>
              <li>
                <a href="../image-component/image.component.html"> Image </a>
              </li>
              <li>
                <a href="../input/input.component.html"> Input </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="doc-content">
          <div class="content-title">Badge</div>
          <div class="content-subtitle">used for state and text, not for numbers.</div>

          <div class="divider"></div>

          <!-- BADGE ON AVATARS -->
          <div class="content-head">Badge on Avatars</div>

          <div class="content-subtitle">This used to show the current status of a user</div>

          <div class="example-div">
            <div class="badge">
              <img
                class="avatar"
                src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                alt="avatar-2"
              />

              <div class="online"></div>
            </div>

            <div class="badge">
              <img
                class="avatar"
                src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                alt="avatar-2"
              />

              <div class="offline"></div>
            </div>

            <div class="badge">
              <img
                class="avatar"
                src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                alt="avatar-illustration"
              />

              <div class="away"></div>
            </div>
          </div>

          <div class="example-code">
            <iframe
              class="example-code"
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=material&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2522%250Asrc%253D%2522https%253A%252F%252Fimages.unsplash.com%252Fphoto-1570295999919-56ceb5ecca61%253Fixlib%253Drb-1.2.1%2526ixid%253DMnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8%2526auto%253Dformat%2526fit%253Dcrop%2526w%253D580%2526q%253D80%2522%250Aalt%253D%2522avatar-illustration%2522%2520%252F%253E"
              style="width: 1024px; height: 261px; border: 0; transform: scale(1); overflow: hidden"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>

          <div class="divider"></div>

          <!-- ICON BADGES -->
          <div class="content-head">Badge on icons</div>

          <div class="content-subtitle">Icon Badge is used to represent quick info like notifications etc.</div>

          <div class="example-div">
            <div class="badge">
              <img class="avatar" src="../../assets/icons/mail.svg" alt="avatar-2" />
              <div class="number away">10</div>
            </div>
            <div class="badge">
              <img class="avatar" src="../../assets/icons/cards.svg" alt="avatar-2" />
              <div class="number">5</div>
            </div>
          </div>

          <div class="example-code">
            <iframe
              class="example-code"
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=material&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%253Cdiv%2520class%253D%2522badge%2522%253E%250A%2520%2520%2520%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522..%252F..%252Fassets%252Ficons%252Fmail.svg%2522%2520alt%253D%2522avatar-2%2522%2520%252F%253E%250A%2520%2520%2520%253Cdiv%2520class%253D%2522number%2520away%2522%253E10%253C%252Fdiv%253E%250A%253C%252Fdiv%253E%250A%250A%253Cdiv%2520class%253D%2522badge%2522%253E%250A%2520%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522..%252F..%252Fassets%252Ficons%252Fcards.svg%2522%2520alt%253D%2522avatar-2%2522%2520%252F%253E%250A%2520%253Cdiv%2520class%253D%2522number%2522%253E5%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
              style="width: 774px; height: 354px; border: 0; transform: scale(1); overflow: hidden"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>

          <div class="divider"></div>

          <footer>
            <div class="prev-comp">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--grommet-icons"
                width="1em"
                height="1em"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path>
              </svg>
              <a href="../alert/alert.component.html">Alert</a>
            </div>
            <div class="next-comp">
              <a href="../button/buttons.component.html">Button</a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--ic"
                width="1em"
                height="1em"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path>
              </svg>
            </div>
          </footer>
        </div>
      </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
