/* TODO- Remove this while creating the docs site */

.button-container {
  background-color: #f5f7f9;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

/* ---------- BASE STYLE -------------*/
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-dark);
  color: var(--neutral-white);
  font-size: 18px;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* ---------- END OF BASE STYLE -------------*/

/* ---------SOLID BUTTON------------ */

.btn-primary {
  background: var(--primary-dark);
}
.btn-primary:hover {
  background: var(--primary-light);
}

.btn-error {
  background: var(--error-main);
}
.btn-error:hover {
  background: var(--error-light);
}

.btn-warning {
  background: var(--warning-main);
}
.btn-warning:hover {
  background: var(--warning-light);
}

.btn-success {
  background: var(--success-main);
}
.btn-success:hover {
  background: var(--success-light);
}

/* ----------END OF SOLID BUTTON-------- */

/* ---------GHOST BUTTON------------ */

.ghost-primary {
  color: var(--primary-dark) !important;
  background-color: var(--neutral-white);
  border: 1px solid var(--primary-dark) !important;
}
.ghost-primary:hover {
  background-color: var(--primary-dark);
  color: var(--neutral-white) !important;
}

.ghost-error {
  color: var(--error-main) !important;
  background-color: var(--neutral-white);
  border: 1px solid var(--error-main) !important;
}
.ghost-error:hover {
  background-color: var(--error-main);
  color: var(--neutral-white) !important;
}

.ghost-warning {
  color: var(--warning-main) !important;
  background-color: var(--neutral-white);
  border: 1px solid var(--warning-main) !important;
}
.ghost-warning:hover {
  background-color: var(--warning-main) !important;
  color: var(--neutral-white);
}

.ghost-success {
  color: var(--success-main) !important;
  background-color: var(--neutral-white);
  border: 1px solid var(--success-main) !important;
}
.ghost-success:hover {
  background-color: var(--success-main);
  color: var(--neutral-white) !important;
}

/* ----------END OF GHOST BUTTON-------- */

/* -------- ICON BUTTON -------- */

.btn i {
  font-size: 2.6rem;
  margin-right: 1.2rem;
  display: flex;
  align-items: center;
}

/* --------END OF ICON BUTTON -------- */
