:root {
  --primary-main: #1976d2;
  --primary-light: #42a5f5;
  --primary-dark: #1565c0;

  --secondary-main: #9c27b0;
  --secondary-light: #ba68c8;
  --secondary-dark: #7b1fa2;

  --error-main: #d32f2f;
  --error-light: #ef5350;
  --error-dark: #c62828;

  --warning-main: #ed6c02;
  --warning-light: #ff9800;
  --warning-dark: #e65100;

  --success-main: #267d32;
  --success-light: #4caf50;
  --success-dark: #1b5e30;

  --gray-main: #0f172a;
  --gray-light: #334155;

  --neutral-white: #fff;
  --neutral-black: #000;
}
