/* -----FONT SIZES------ */
/* Scales based on TailwindCSS */
/*
xs - 10+2px
sm - 14+2px
medium- 16+2px
large- 18+2px
xl- 20+2px
2xl- 22+2px
*/

.text-xs {
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.025em;
}

.text-sm {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.text-medium {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.text-large {
  font-size: 2rem;
  line-height: 3rem;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 2.4rem;
}

.text-2xl {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

/* ------TEXT COLOR-------- */
.text-gray-main {
  color: var(--gray-main);
}

.text-gray-light {
  color: var(--gray-light);
}

.text-black {
  color: var(--neutral-black);
}

.text-white {
  color: var(--neutral-white);
}

/* ------FONT WEIGHT------- */
/*
font-light - 300
font-normal - 400
font-medium - 500
font-semibold -600
font-bold - 700
font-extraBold - 800
*/

.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}

/* ------TEXT DECORATION-------- */

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.line-through {
  text-decoration: line-through;
}

.no-underline {
  text-decoration: none;
}

/* ------TEXT TRANSFORM-------- */

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

/* -------TEXT ALIGNMENT-------- */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}
