<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../index.css" />
    <title>Alert Component</title>
  </head>
  <body>
    <!-- Outlined Variant -->

    <div class="alert-container" style="margin-top: 10px; margin-left: 20px">
      <div class="alert primary"><strong>Primary Variant!</strong> This is a Primary Alert Component</div>
      <div class="alert secondary"><strong>Secondary Variant!</strong> This is a Secondary Alert Component</div>
      <div class="alert error"><strong>Error Variant!</strong> This is a Error Alert Component</div>
      <div class="alert warning"><strong>Warning Variant!</strong> This is a warning Alert Component</div>
      <div class="alert success"><strong>Success Variant!</strong> This is a success Alert Component</div>
    </div>

    <!-- Filled Variant -->

    <div class="alert-container" style="margin-top: 10px; margin-left: 20px">
      <div class="alert outlined-primary"><strong>Primary Variant!</strong> This is a Primary Alert Component</div>
      <div class="alert outlined-secondary">
        <strong>Secondary Variant!</strong> This is a Secondary Alert Component
      </div>
      <div class="alert outlined-error"><strong>Error Variant!</strong> This is a Error Alert Component</div>
      <div class="alert outlined-warning"><strong>Warning Variant!</strong> This is a warning Alert Component</div>
      <div class="alert outlined-success"><strong>Success Variant!</strong> This is a success Alert Component</div>
    </div>
  </body>
</html>
