<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/navbar.css" />
    <link rel="stylesheet" href="../../styles/sidebar.css" />
    <link rel="stylesheet" href="../../../docs/docs.css" />
    <link rel="stylesheet" href="../../../index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
    <title>SafientUI : Image</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="left-nav">
          <a href="../../index.html">Safient</a>
        </div>
        <ul class="right-nav">
          <li><a href="/Get Started/introduction.html">Docs</a></li>
          <li><a href="#">Examples</a></li>
        </ul>
      </nav>

      <div class="doc-container">
        <div class="side-bar">
          <!-- Get Started List Start -->
          <div>
            <div class="list-topic">
              <a href="/Get Started/introduction.html"> Get Started </a>
            </div>
            <ul class="list-subtopic">
              <li>
                <a href="/Get Started/introduction.html"> Introduction </a>
              </li>
              <li>
                <a href="/Get Started/Color.html"> Colors </a>
              </li>
              <li>
                <a href="/Get Started/Typography.html"> Typography </a>
              </li>
              <li>
                <a href="/Get Started/Conclusion.html"> Conclusion </a>
              </li>
            </ul>
          </div>

          <!-- components List start -->
          <div>
            <div class="list-topic">
              <a href="/components/Avatar/avatar.html">components</a>
            </div>
            <ul class="list-subtopic">
              <li>
                <a href="/components/Avatar/avatar.html"> Avatar </a>
              </li>
              <li>
                <a href="/components/Alert/alert.html"> Alert </a>
              </li>
              <li>
                <a href="/components/Badge/badge.html"> Badge </a>
              </li>
              <li>
                <a href="/components/Button/button.html"> Button </a>
              </li>
              <li>
                <a class="active" href="#"> Card </a>
              </li>
              <li>
                <a href="/components/Image Comp/image.html"> Image </a>
              </li>
              <li>
                <a href="/components/Input/input.html"> Input </a>
              </li>
              <li>
                <a href="/components/list/list.html"> List </a>
              </li>
              <li>
                <a href="/components/Toast/toast.html"> Toast </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="doc-content">
          <div class="content-title">Image</div>
          <div class="content-subtitle">Display image content.</div>

          <div class="divider"></div>

          <!-- SQUARE IMAGE -->
          <div class="content-head">Square Image</div>

          <div class="content-subtitle">Square Images are the square shaped,</div>

          <div class="example-div">
            <img
              src="https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              alt="image"
              class="square-img"
            />
            <img
              src="https://images.unsplash.com/photo-1436397543931-01c4a5162bdb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
              alt="image"
              class="square-img"
            />
          </div>

          <div class="example-code">
            <!-- usage example  -->
            coming soon
          </div>

          <div class="divider"></div>

          <!-- ROUND IMAGE -->

          <div class="content-head">Round Image</div>

          <div class="content-subtitle">Round Images are the circular, with a default dimension of 150px X 150px.</div>

          <div class="example-div">
            <img
              src="https://images.unsplash.com/photo-1549298916-b41d501d3772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80"
              alt="image"
              class="round-img"
            />
            <img
              src="https://images.unsplash.com/photo-1600185365926-3a2ce3cdb9eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80"
              alt="image"
              class="round-img"
            />
          </div>

          <div class="example-code">
            <!-- usage example  -->
            coming soon
          </div>

          <div class="divider"></div>

          <!-- RESPONSIVE IMAGE -->

          <div class="content-head">Responsive Image</div>

          <div class="content-subtitle">
            Responsive Image Components are used to dsiplay Images on websites, which are screen responsive. They expand
            upto the width of the container they are in.
          </div>

          <div class="example-div">
            <img
              src="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              alt="image"
              class="resp-img"
            />
          </div>

          <div class="example-code">
            <!-- usage example  -->
            coming soon
          </div>

          <div class="divider"></div>

          <footer>
            <div class="prev-comp">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--grommet-icons"
                width="1em"
                height="1em"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path>
              </svg>
              <a href="../Button/button.html">Button</a>
            </div>
            <div class="next-comp">
              <a href="../Image Comp/image.html">Image</a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--ic"
                width="1em"
                height="1em"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path>
              </svg>
            </div>
          </footer>
        </div>
      </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
